.photo-grid__item {
  max-width: 284px;
}

@media screen and (max-width: 1184px) {
  .photo-grid__item {
    max-width: 300px;
  }
}

@media screen and (max-width: 928px) {
  .photo-grid__item {
    max-width: 352px;
  }
}

@media screen and (max-width: 720px) {
  .photo-grid__item {
    max-width: 288px;
  }
}
