.intro {
  max-width: 984px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width: 1025px) {
  .intro {
    padding: 0 28px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding: 0 24px;
  }
}

@media screen and (max-width: 400px) {
  .intro {
    padding: 0 16px;
  }
}
