.cover__title {
  margin: 0;
  max-width: 560px;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #ffffff;
  z-index: 1;
}

@media screen and (max-width: 510px) {
  .cover__title {
    max-width: 488px;
    font-size: 62px;
    line-height: 66px;
  }
}


@media screen and (max-width: 450px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}
