.list {
  margin: 0;
  padding: 0;
  padding-bottom: 92px;
  max-width: 690px;
}

@media screen and (max-width: 768px) {
  .list {
    max-width: 720px;
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 400px) {
  .list {
    padding-bottom: 64px;
  }
}
