.place__website {
  max-width: 456px;
  align-self: end;
}

@media screen and (max-width: 400px) {
  .place__website {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
    padding: 0 16px;
  }
}
